@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("./Assets/movie_Template/background.jpg");
    height: 90vh;
    position: relative;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    display: flex;
    align-items: center;
    height: 62px;
    margin: auto;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
    text-align: center;
}

.hero> :first-child {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(199, 188, 188, 0);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(rgb(255, 255, 255, 0.5), green, blue, alpha);
}

.btn-red-sm {
    background-color: red;
    color: white;
}



/*             Seperation Portion bw bg-image and hero portio          */

.inner-curve {
    position: relative;
    box-sizing: border-box;
    display: block;
    overflow-x: hidden;
    height: 6.25rem;
    z-index: 1;
    unicode-bidi: isolate;
    background-color: #fff;
}

.curve-container {
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    color: white;
}

.curve-design {
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 200%;
    height: 100%;
    left: -50%;
    margin: auto;
    top: 0;
    border: solid .25rem transparent;
    border-bottom: none;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background: radial-gradient(50% 500% at 50% -420%,
            rgba(64, 97, 231, 0.4) 80%,
            rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
    unicode-bidi: isolate;
    color: white;
}

.curve-container-design {
    margin-top: 1.375em;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    color: white;

}

/*                         Movie template Slide Start Here */
.trending-container {
    padding: 34px;

}

.trending-container-layout {
    display: flex;
    justify-content: center;
}


.trending-container h2 {
    color: white;
    font-size: 24px;
    padding-bottom: 2vh;
    margin: 0 7vw;
}

.trending-container-style {
    height: auto;
    width: 78vw;
    display: flex;
    overflow-x: auto;
    gap: 1.5vw;
    padding-bottom: 1vh;
    scroll-snap-type: x mandatory;
}

.movie-card {
    display: relative;
    flex: 0 0 auto;
    width: 200px;
    scroll-snap-align: start;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.4rem;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 0.5rem;
}

.movie-card span{
    position: absolute;
        top: 8px;
        left: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 8px;
        font-size: 14px;
        z-index: 1;
}

/*                     More reason to join                    */

.container {
    padding: 34px;
}

.container h2 {

    padding-bottom: 2vh;
    color: white;
    text-align: left;
    font-size: 24px;
    margin: 0 7vw;
}

.container-layout {

    display: flex;
    justify-content: center;
    gap: 1vw;
}

.container-layout h2 {
    color: white;
    font-size: 24px;
}

.container-layout-style {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 19.5vw;
    border-radius: 1.5vw;
    background: radial-gradient(500% 500% at 50% -420%,
            rgba(64, 97, 231, 0.4) 80%,
            rgba(174, 11, 11, 0.161) 100%), black;
}

.container-layout-style div {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.container-layout-style h3 {
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    padding-top: 2vh;
}

.container-layout-style P {
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff80;
    margin-top: 1.8vh;
}

.container-layout-style :nth-child(2) {
    display: flex;
    align-items: flex-end;
}


/*            frequently Asked Question (Portion)         */



/*            frequently Asked Question (Portion)         */

.faq {
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}

.faqbox :hover {
    background-color: rgba(88, 88, 88, 0.753);
}

.faq h2 {
    max-width: 80.5vw;
    font-size: 24px;
    color: white;
    margin: 0px auto;
    padding: 0 24px;
}

.faqbox {
    transition: all 0s ease-out;
    font-family: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    color: white;
    padding: 24px;
    max-width: 78vw;
    margin: 34px auto;
    cursor: pointer;
}


/*               Footer Portion                  */

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

footer .questions {
    padding: 34px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    font-family: 10px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}